@model IEnumerable<IoF_Admin.Models.Fish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Office.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aquarium.AquariumString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondsActive)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Office.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aquarium.AquariumString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Channel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondsActive)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.FishID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.FishID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.FishID">Delete</a>
        </td>
    </tr>
}
</table>
